<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no Meetup: {{ title }}, confira os detalhes abaixo:</p>
<p>
  <strong>Novo membro: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
  <br />
</p>